div{
    background-color: violet;
    padding: 30px;
}
.luka{
    font-size: xx-large;
    color: chartreuse;
}
.puka{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: crimson;
}